<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Question Up</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'edus/style.css' %}" />
</head>

<ul class="nav nav-tabs">


    {% if user.is_authenticated %}
    <li role="presentation" class="active"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li role="presentation" class="active"><a href="{% url 'login' %}">Login</a></li>
    {% endif %}

    <!--fake dynamic labeling of NEW-->
    {% if new_questions == 'true' %}
    <li role="presentation"><a href="{% url 'edus:questions' %}">All questions *NEW*</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'edus:questions' %}">All questions</a></li>
    {% endif %}

    <!--fake dynamic label of NEW REPLIES-->
    {% if user.useredus.new_replies == True %}
    <li role="presentation"><a href="{% url 'edus:my_questions' %}">My questions*NEW*</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'edus:my_questions' %}">My questions</a></li>
    {% endif %}

    <li role="presentation"><a href="{% url 'edus:write_question' %}">Ask</a></li>

    <li role="presentation"><a href="{% url 'edus:open_questions' %}">Unanswered Questions</a></li>


</ul>

<body>


<div class="row">

  <div class="col-sm-10 ">

    {% block content %}{% endblock %}

    {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}


  </div>
</div>


</body>