{% extends 'base.html' %}

{% block content %}

{% if question_list %}


{% for question in question_list %}
<div class="row" id="questionListDiv">

    <div class="col-md-2"></div>

    <div class="container_row">
        <p>points {{ question.points }} Solution: {{ question.solution_found }} {{ question.title }}</p>
    </div>

    <div class="container_row"> <div class="layer2"> <a href="{% url 'edus:question_detail' question.pk %}">Enter thread</a>  </div>

</div>


{% endfor %}



{% else %}

<h1> No questions have been asked </h1>

{% endif  %}

{% endblock %}