{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}

<h1> {{ question.title }} </h1>
<p> {{ question.content }} </p>


<h1>{{ question.new_replies }}</h1>


<ul>
    <li>date posted: {{ question.post_date }}</li>
    <li>author: {{ question.author }}</li>
    <li>Solution found: {{question.solution_found}}</li>
    <li> points: {{ question.points }} </li>
    <li>votes: {{ question.voters }}</li>
    <li>debug line: {{ request.user.useredus }}</li>

    {% if question.image %}
    <img src="{{ question.image.url }}" alt="My image"/>
    {% endif %}

</ul>

<!--display vote buttons, depending if vote has been cast-->
{% if request.user.useredus in question.voters.all %}

<form action="{% url 'edus:upvote' question.pk %}" method="post">
{% csrf_token %}
<input type="submit" disabled="disabled" value="Upvote" />
</form>

<form action="{% url 'edus:downvote' question.pk %}" method="post">
{% csrf_token %}
<input type="submit" disabled="disabled" value="downvote" />
</form>

{% else %}

<form action="{% url 'edus:upvote' question.pk %}" method="post">
{% csrf_token %}
<input type="submit" value="Upvote" />
</form>

<form action="{% url 'edus:downvote' question.pk %}" method="post">
{% csrf_token %}
<input type="submit" value="downvote" />
</form>

{% endif %}

<!--USER PERMISSION BUTTONS-->
{% if question.author == user.useredus %}

<form action="{% url 'edus:edit_question' question.pk %}" method="">
{% csrf_token %}
<input type="submit" value="Edit" />
</form>

{% endif %}

<!--WRITE RESPONSE-->
<a href="{% url 'edus:write_reply' question.pk %}"> WRITE A RESPONSE </a>

<!--could this be another template?-->
<h3> Replies </h3>

{% if question.reply_set.all %}
<ul>
{% for reply in question.reply_set.all|sort_by:'-points'|sort_by:'-correct_answer' %}

    <li>content: {{ reply.content }} </li>
    <li>author: {{ reply.author }}</li>
    <li>points: {{ reply.points }} </li>
    <li>Correct solution? {{ reply.correct_answer }} </li>

</ul>


<!--allow correct reply by author only-->
{% if reply.parent_question.author == user.useredus %}
<form action="{% url 'edus:correct_reply' reply.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="correct_reply" />
</form>
{% endif %}

<!--display vote buttons, depending if vote has been cast-->
{% if request.user.useredus in reply.voters.all %}
<!--if voted already, disable-->
<form action="{% url 'edus:upvote_reply' reply.pk %}" method="post">
{% csrf_token %}
<input type="submit" disabled="disabled" value="Upvote" />
</form>

<form action="{% url 'edus:downvote_reply' reply.pk %}" method="post">
{% csrf_token %}
<input type="submit" disabled="disabled" value="downvote" />
</form>

<!--if have not voted yet, enable-->
{% else %}

<form action="{% url 'edus:upvote_reply' reply.pk %}" method="post">
{% csrf_token %}
<input type="submit" value="Upvote" />
</form>

<form action="{% url 'edus:downvote_reply' reply.pk %}" method="post">
{% csrf_token %}
<input type="submit" value="downvote" />
</form>

<!--end of vote buttons-->
{% endif %}

<!--end of reply div-->
{% endfor %}


{% else %}
<h2> No replies yet </h2>

{% endif %}

{% endblock %}




























