.container_row {
    border: 1px solid red;
    height: 50px;
    margin: 5;
    position: relative;
}

.layer1 {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 50px;
}

.layer2 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 50px;
    border: 1px solid green;
}